body {
    margin: 0;
    border: 0;
    background-color: #1abc9c;
    color: #ecf0f1;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    user-select: none;
}

.btn {
    border-radius: 400pt;
    background-color: #34495e;
    padding: 5pt;
    font-size: 10pt;
    font-weight: bold;
    cursor: pointer;
    border: none;
    margin: 5pt;
    box-shadow: 0 0 5pt #34495e;
}

#board td {
    background-color: bisque;
    text-align: center;
    font-size: 18pt;
    width: 30pt;
    height: 30pt;
    cursor: crosshair;
}

.btns {
    margin-top: 15pt;
    display: flex ;
    flex-direction: row;
}
#edit_board {
    border: 1pt solid #34495e;
    visibility: hidden;
}